@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

 .quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  } 
main{
    max-width:1160px;
    margin: 0 auto;
    
}

/* shared styles */

.display-flex{
    display: flex;
}
.fbold{
    font-weight: bold;

}
.fSbold{
    font-weight: 600;
}



/* start nav bar section */


nav{
    margin: 2rem auto;
    justify-content: space-around;
   align-items: center;
}
.logo-text{
    align-items: center;
    font-size: 2rem;
    
}

li ,li>a{
    text-decoration: none;
    list-style: none;
    font-size:1.25rem;
    font-weight:500;
    line-height: 32px;
    margin: 0 2rem;
   
}
ul li:nth-child(1) a {
    color: orange;
}
ul li:nth-child(2) a {
    color: #01ACFD;
}
ul li:nth-child(3) a {
    color: #05D4DF;
}
ul li:nth-child(4) a {
    color: #5D58EF;
}
.btn-1{
    background-color:orange ;
}

.btn-primary{
display: flex;
width: 12.3rem;
border: none;
color: #ffff;
font-size: 1.25rem;

padding: 0.6rem 3.75rem;
border-radius:0.75rem;
}

.btn-primary:hover{
    background-color: gold;
} 

.toggle-bar{
    display: none;
}

/* nav bar section end */

/* banner section start */

.banner{
justify-content:space-between;
align-items: center;

}
.banner-textbox{
width: 40rem;
margin-right: 3.5rem;

}


.btn-primary2{
display: flex;
width: 12.3rem;
border: none;
color: #ffff;
font-size: 1.25rem;
justify-content: center;
padding: 0.6rem 3rem;
border-radius:0.75rem;

}


.btn-2{
    margin-top: 1.5rem;
 
    background-color: black;
}
.btn-2:hover{
    background-color: gold;
}
h1 span:first-child{
color:orange;
}
h1 span:nth-child(2){
    color: #111111;
}
h1 span:last-child{
    color: #01ACFD;
     
}

.h1s{
    font-size: 3.5rem;
    font-weight: 700;
}
.p1s{
    padding-top:1.5rem;
}
.h1s p{
font-size: 1.25rem;
font-weight: 400;

}
/* banner section end */

/* standard curriculum section start */
.standard-curriculum{
    background-image: url(./assets/bg.png);
  
}
.standard-curriculum h1{

    text-align: center;
    font-size: 2.8rem;
    color: #000000;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.cards{

text-align: center;
align-content:center ;
gap:20px;
justify-content: center;
align-items: center;
margin-bottom: 5rem;
}

.card{
flex-direction: column;
max-width: 23rem;
height: 25rem;


align-items: center;
border-radius: 18px;


box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 14px rgba(139, 205, 17, 0.5);
}

.card:first-child{
    border: 0.800px solid #5D58EF;
    background:linear-gradient( #ffafbd ,#cbbab0 ) ;
}
.card:nth-child(2){
    border: 0.800px solid #5D58EF;
    background:linear-gradient(#ffd89b ,#7e93a1) ;
}
.card:nth-child(3){
    border: 0.800px solid #5D58EF;
    background:linear-gradient( #aa9c75,#d3bfc3 ) ;
}
.read-more{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.read-more1{
color: rgb(237, 37, 15);
}

.read-more2{
color: rgb(243, 206, 138);
}


.read-more3{
color: rgb(189, 246, 234);
}

.card-title ,.card-description{
padding: 1rem;
}
/* standard card section end */

.slider{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3.75rem;
}
.slider i:hover{
    color: rgb(208, 29, 29);
    background-color: #01ACFD;
}
/* standard card section and slider end */

/* our stories section start  */
.scommonf{
    font-family: "Raleway", serif;
    font-weight:600;
    font-size: 1rem;
}
.stories-box h2{
    font-size: 0.95rem;
}
.stories-box h4{
    font-size: 1.5rem;
    padding-right: 3.7rem;
}
.stories-box img{
    width: 100%;
    height: auto;
}

.our-stories{
    background: linear-gradient(
        0deg,
        rgba(254, 163, 1, 0.3) 0%,
        rgba(255, 255, 255, 0.3) 100%
      ),
      url(../assets/bg.png);
      background-size: cover;
      background-repeat: repeat-y;
      padding-bottom: 3.75rem;
     
}
.our-stories>h1{
    text-align: center;
    font-size: 2.8rem;
    color: #000;
   

    
}
.stories-container{
    margin: 5rem auto;
     max-width:1160px;
     gap: 1.2rem;
}
.stories1{
    width: 34rem;
}
.stories1 p{
 text-align: left;
 padding: 1rem 3rem;
}
.stories1 button{
    background-color: skyblue;
}
#stories-3{
    background-color: #5D58F0;
}


/* stories grid start */
.stories-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 18.1rem);
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.stories-box{
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}
/* end ???? */

.date{
    background: #95b226;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    font-size: 0.8rem;
    border:none;
    position: relative;
    top: -20px;
    
}

.btn-view-all{
    display: flex;
    background-color: black;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 0.65rem;
    border-radius: 0.7rem;
   
    
}
/* our stories section end */


/* footer section start  */

footer{
    color: white;
    background-color: #01ACFD;
    justify-content: space-evenly;
    align-items: start;
    padding: 8rem 0;
}
.footer-logo{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: start;
}
.footer-logo h1{
    font-weight: 700;
  font-size: 2.625rem;
}
.logo-with-text{
    max-width: 22rem;
}
.logo-with-text p{
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
}
.about-school > ul > li > a{

    color: white;
   
    
}

.about-school{
    text-align: start;
  flex-direction: column;
}
.social-site{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* footer section end */



/* mobile device responsive part start */
@media screen and (max-width:576px) {


.slider,
.stories1
{
    display: none;
}

    /* navbar mobile section start */

 nav{
    margin: 0;
    padding: 1rem;
    justify-content: space-around;
    border-bottom: 2px solid orange;
 }
    
    .logo-side-text,
    .nav-mid-container,
    .btn-primary {
    display: none;
   }
   .img-logo>img{
    width:2.85rem;
    height:2.85rem;
   
    margin-left: 1rem;
   }
   .toggle-bar{
    display: flex;
    flex-direction: column;
    width: 1.85rem;
    height: 1.85rem;
    justify-content: space-around;
    cursor:pointer;
    padding: 0 16rem;

   }
    .bar {
    height: 5px;
    width: 30px;
    background-color: #000000;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  /* navbar mobile section end */

  /* banner mobile section start */
  .banner{
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;
  }
  .banner img{
    order: -1;
    max-width: 80%;
   margin-right: 1.3rem;
    
  }
.banner-textbox{
    text-align: center;
    margin: 1.5rem auto;
}
.banner-texbox h1{
    font-size: 2rem;
    text-align: center;
    margin-right: 1.3rem;
}
.banner-texbox p{
    margin-right: 1.3rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 1.5rem 2rem;
    text-wrap: wrap;

}
.banner-texbox button{
    margin-right: 1.3rem;
    margin: auto;
    
}
/* banner mobile section end */

/* card part start */
.cards{
    flex-direction: column;
   padding-bottom: 0rem;
}
.card:hover{
    transform: scale(1.02);
}
/* card part end */


/* our stories section start  */

.stories-container{
    margin:2rem auto;
}
.stories-grid-container{
    grid-template-columns: repeat(2 ,40%);
    gap: 1rem;
}
.stories-box h1 {
    font-size: 0.6rem;
   
  }
  .date {
    font-size: 0.5rem;
    padding: 0.4rem;
  }
  .our-stories{
    margin-bottom: rem;
  }
/* our stories section end */

/* footer section start  */

footer{
    flex-direction: column;
   padding-bottom: 20rem;
}

.footer h1{
    font-size: 2rem;
}
.footer-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    justify-content: start;
    padding-left:1.9rem;
}
.logo-with-text p{
    font-size: 1rem;
    font-weight: 300;
    padding-left:2.3rem;
    padding-bottom: 2rem;

}
.about-school{
 padding-left: 2rem;
 padding-bottom: 2rem;
 display: flex;
 flex-direction: column;
 justify-content:start;

}
.about-school > ul > li > a{
    padding-right: 4rem;
    
}
.keep-in-touch{
    padding-left: 2rem;
    
}
#aboutx{
   
}
/* footer section end */

}